Django
django-sesame
psycopg2-binary

whitenoise[brotli]
gunicorn

django-environ
django-model-utils
django_extensions


pymemcache

django-environ


django-import-export
django-crispy-forms

django-sesame[ua]
django-constance[database]

django-q
django-q-email

django-storages
boto3
